version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: online_gallery_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: online_gallery
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gallery_network

volumes:
  postgres_data:
    driver: local

networks:
  gallery_network:
    driver: bridge

